.container {
  padding-left: 0;
  padding-right: 0;
}


.row {
  margin-bottom: 5px;
}

[class*="col-"] {
  padding-top: 10px;
  padding-bottom: 5px;

}

hr {
  margin-top: 15px;
  margin-bottom: 0px;
}

.col-xs-6,
.col-sm-4,
.col-lg-4{
	position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width:100%;
}
.col-xs-6{
	float: left;
	width: 100%;
}
 @media (min-width: 768px) {
  .container {
    max-width: 750px;
  }

  .col-sm-4{
    float: left;
	width: 33.33333333333333%;
  }

hr{
	display: none;
}
 
}



@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }

  .col-md-4 {
	  float: left;
    width: 33.33333333333333%;
  }

}


@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }

  .col-lg-4 {
	  float: left;
    width: 33.33333333333333%;
  }


}