@-moz-viewport{ width: device-width; scale: 1;}
@-ms-viewport{ width: device-width; scale: 1;}
@-o-viewport{ width: device-width; scale: 1;}
@-webkit-viewport{ width: device-width; scale: 1;}
@viewport{ width: device-width;scale: 1;}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

h2{
	color:rgba(159,125,26,1.00);
		
}

hr {
  height: 0;
  -moz-box-sizing: content-box;
       box-sizing: content-box;
}

html{
	background: #FFFFFF;
	height: 100%;
	font-family: 'Raleway', sans-serif;	
}

body{
	margin: 0;
}

img {
    max-width: 100%
}

.top{
	background-color: #000000;
}

.logo-top{
	text-align:center;
	margin:0;
	color: #fff;
	font-size: 0.6rem;
	padding-bottom: 1rem;
	background: #000 url("../img/logo.svg") no-repeat center top;
	padding-top: 100px;
}



.nav{
	text-align: center;
	background-color: #000;
	border-top: rgba(159,125,26,1.00) solid 4px;
	border-bottom: rgba(159,125,26,1.00) solid 4px;
	font-family: 'Raleway', sans-serif;
}

.navbig{
	display: none;
}

@media (min-width: 1200px){
	.nav{
		display: none;
	}
	
	.navbig{
	display: block;
	text-align: center;
	background-color: #000;
	border-top: rgba(159,125,26,1.00) solid 4px;
	border-bottom: rgba(159,125,26,1.00) solid 4px;

	}
	
} 

.menu {
	padding: 0;
	margin: 0;
}

.menu > li {
  display: inline-block;
  padding-right: 4px;
  padding-left: 4px;
}

.connect li{
	display: inline-block;
	width: 40px;
	text-decoration: none;
	margin-right: 1.5rem;
	margin-top: 1.5rem;
	
}

ul.connect{
	padding-left: 0;
	margin: 0;
}

a,
a:link,
a:visited {
	outline: none;
	font-size: 0.8rem;
	text-decoration: none;
	color: #fff;
	
}

a:focus {
  outline: thin dotted;
  color: rgba(159,125,26,1.00);
  
}

a:active,
a:hover {
  outline: 0;
  color: rgba(159,125,26,1.00);
  font-size: 0.8rem;
}

.about,
.contact {
  padding-left: 1rem;
  padding-right: 1rem;
}

.about{
	padding-top: 2rem;
}

footer{
	border-top: rgba(159,125,26,1.00) solid 2px;
}

.copyright{
	width:50%;
	float: left;
	font-size: 0.8rem;
	margin: 5px;
	display: inline;
}



footer a,
footer a:link,
footer a:visited {
	margin: 15px;
	outline: none;
	font-size: 1.2rem;
	font-weight: bold;
	text-decoration: none;
	color: #000;
	float: right;
	display: inline;
	
}

footer a:focus {
	margin: 15px;
 	outline: thin dotted;
  	color: rgba(159,125,26,1.00);
  
}

footer a:active,
footer a:hover {
	margin: 15px;
  outline: 0;
  color: rgba(159,125,26,1.00);
  font-size: 1.2rem;
  font-weight: bold;
}

.navbig a,
.navbig a:link,
.navbig a:visited {
	margin: 15px;
	outline: none;
	font-size: 1.1rem;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	float: right;
	display: inline;
	
}

.navbig a:focus {
	margin: 15px;
 	outline: thin dotted;
  	color: rgba(159,125,26,1.00);
  
}

.navbig a:active,
.navbig a:hover {
	margin: 15px;
  outline: 0;
  color: rgba(159,125,26,1.00);
  font-size: 1.1rem;
  font-weight: bold;
}


.contact a,
.contact a:link,
.contact a:visited {
	margin: 0;
	outline: none;
	font-size: 1.2rem;
	font-weight: bold;
	text-decoration: none;
	color: #000;
	float: left;
	display: inline;
	
}

.contact a:focus {
	margin: 15px;
 	outline: thin dotted;
  	color: rgba(159,125,26,1.00);
  
}

.contact a:active,
.contact a:hover {
	margin: 0;
	outline: 0;
	color: rgba(159,125,26,1.00);
	font-size: 1.2rem;
	font-weight: bold;
}