.container,
.container-in {
	padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}


.row {
  margin-bottom: 10px;
}

[class*="col-"] {
  padding-top: 10px;
}

hr {
  margin-top: 10px;
  margin-bottom: 0px;
}

.col-xs-6,
.col-sm-4,
.col-lg-4{
	position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  width:100%;
}
.col-xs-6{
	float: left;
	width: 100%;
}

.col-xs-1{
	position: relative;
  min-height: 1px;
  width:100%;
}

.col-sm-1,
.col-lg-2{
	position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width:100%;
}


 @media (min-width: 768px) {
  .container,
  .container-in{
    max-width: 750px;
	margin: 0 auto;
  }

  .col-sm-4{
    float: left;
	width: 33.33333333333333%;
  }
  
  .col-xs-1{
	  width: 100%
  }


hr{
	display: none;
}
 
}



@media (min-width: 992px) {
  .container,
  .container-in {
    max-width: 970px;
	margin: 0 auto;
  }

  .col-md-4 {
	  float: left;
    width: 33.33333333333333%;
  }

  .col-sm-1{
	  width: 100%;
  }
  .col-lg-2{
		width: 50%;
		float: left;
	}
  
}


@media (min-width: 1200px) {
  .container,
  .container-in {
    max-width: 1170px;
	margin: 0 auto;

  }

  .col-lg-4 {
	  float: left;
    width: 33.33333333333333%;
  }

	.col-lg-2{
		width: 50%;
		float: left;
	}

}